AWS_PROFILE=default
SERVICE_NAME=my-storage-service
DOMAIN_TEST=storage-test.yourdomain.com
DOMAIN_PROD=storage.yourdomain.com
CERTIFICATE_NAME=yourdomain.com
STAGE=test
ALLOWED_ORIGINS_PROD=https://www.yourdomain.com,https://sub.someotherdomain.com
ALLOWED_ORIGINS_TEST=*
